<header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">JAVA2-7</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
              aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" aria-current="page" routerLink="/login" routerLinkActive="active">Login</a>
          </li>
          <li class="nav-item" *ngIf="!isLoggedIn">
            <a class="nav-link" aria-current="page" routerLink="/register" routerLinkActive="active">Register</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" aria-current="page" routerLink="/cars" routerLinkActive="active">All cars</a>
          </li>
          <li class="nav-item" disabled *ngIf="isLoggedIn">
            <a class="nav-link" aria-current="page">{{fullName}}</a>
          </li>
          <li class="nav-item" *ngIf="isLoggedIn">
            <a class="nav-link" aria-current="page" routerLink="/logout" routerLinkActive="active">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
