<main class="container">
  <h1>All cars</h1>
  <a class="btn btn-outline-dark" routerLink="/cars/create">Add new</a>
  <hr>
  <span>
        <div class="bg-light p-5 rounded">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                  <div class="form-group">
                    <label for="companyId"><strong>Company</strong></label>
                    <select id="companyId" class="form-control"
                            (change)="filterByCompany($event)">
                      <option value="">All</option>
                      <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
                    </select>
                  </div>
                </div>
            </div>
        </div>
        <hr>
    </span>
  <div class="row">
    <div class="col">
      <table class="table table-hover" *ngIf="cars.length > 0">
        <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Manufacturer</th>
          <th>Model</th>
          <th>Company</th>
          <th>Year</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let car of cars" [routerLink]="car.id + '/view'">
          <td>{{car.id}}</td>
          <td>{{car.manufacturer}}</td>
          <td>{{car.model}}</td>
          <td>{{car.company != null ? car.company.name : '-'}}</td>
          <td>{{car.year}}</td>
        </tr>
        </tbody>
      </table>
      <p class="text-center" *ngIf="cars.length == 0">Car list is empty</p>
    </div>
  </div>
</main>
