<main class="container">
  <h1>Sign in</h1>
  <hr>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
          <label for="username"><strong>Username</strong></label>
          <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password"><strong>Password</strong></label>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
        </div>
        <hr>
        <button class="btn btn-dark">Sign in</button>
      </div>
    </div>
  </form>
</main>
