<main class="container">
  <h1>Add car</h1>
  <hr>
  <form [formGroup]="carForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
          <label for="manufacturer"><strong>Manufacturer</strong></label>
          <input type="text" id="manufacturer" name="manufacturer" class="form-control" placeholder="Manufacturer"
                 formControlName="manufacturer">
        </div>
        <div class="form-group">
          <label for="model"><strong>Model</strong></label>
          <input type="text" id="model" name="model" class="form-control" placeholder="Model" formControlName="model">
        </div>
        <div class="form-group">
          <label for="year"><strong>Year</strong></label>
          <input type="number" id="year" name="year" class="form-control" placeholder="Year" formControlName="year">
        </div>
        <div class="form-group">
          <label for="color"><strong>Color</strong></label>
          <input type="text" id="color" name="color" class="form-control" placeholder="Color" formControlName="color">
        </div>
        <div class="form-group">
          <label for="description"><strong>Description</strong></label>
          <textarea id="description" name="description" class="form-control" placeholder="Description"
                    formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label for="value"><strong>Value</strong></label>
          <input type="number" step="0.01" id="value" name="value" class="form-control" placeholder="Value"
                 formControlName="value">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <button class="btn btn-dark">Save</button>
          <a class="btn btn-outline-dark" routerLink="/cars">Cancel</a>
        </div>
      </div>
    </div>
  </form>
</main>
