<main class="container">
  <h1>{{car?.manufacturer + ' ' + car?.model + ' ' + car?.year}}</h1>
  <a class="btn btn-outline-dark" [routerLink]="'/cars/' + car?.id + '/edit'">Edit</a>
  <hr>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-group">
        <label for="id"><strong>Id</strong></label>
        <input type="text" id="id" name="id" class="form-control-plaintext" [value]="car?.id" disabled>
      </div>
      <div class="form-group">
        <label for="owner"><strong>Owner</strong></label>
        <input type="text" id="owner" name="owner" class="form-control-plaintext"
               [value]="owner ? (owner.firstName + ' ' + owner.lastName) : '-'" disabled>
      </div>
      <div class="form-group">
        <label for="company"><strong>Company</strong></label>
        <input type="text" id="company" name="company" class="form-control-plaintext"
               [value]="car?.company ? car.company?.name : '-'" disabled>
      </div>
      <div class="form-group">
        <label for="manufacturer"><strong>Manufacturer</strong></label>
        <input type="text" id="manufacturer" name="manufacturer" class="form-control-plaintext"
               [value]="car?.manufacturer" disabled>
      </div>
      <div class="form-group">
        <label for="model"><strong>Model</strong></label>
        <input type="text" id="model" name="model" class="form-control-plaintext" [value]="car?.model" disabled>
      </div>
      <div class="form-group">
        <label for="year"><strong>Year</strong></label>
        <input type="text" id="year" name="year" class="form-control-plaintext" [value]="car?.year" disabled>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6">
      <div class="form-group">
        <label for="color"><strong>Color</strong></label>
        <input type="text" id="color" name="color" class="form-control-plaintext" [value]="car?.color" disabled>
      </div>
      <div class="form-group">
        <label for="description"><strong>Description</strong></label>
        <textarea id="description" name="description" class="form-control-plaintext" [value]="car?.description" disabled></textarea>
      </div>
      <div class="form-group">
        <label for="value"><strong>Value</strong></label>
        <input type="text" id="value" name="value" class="form-control-plaintext" [value]="car?.value" disabled>
      </div>
      <div class="form-group">
        <label for="created"><strong>Created</strong></label>
        <input type="text" id="created" name="created" class="form-control-plaintext" [value]="car?.created" disabled>
      </div>
      <div class="form-group">
        <label for="updated"><strong>Updated</strong></label>
        <input type="text" id="updated" name="updated" class="form-control-plaintext" [value]="car?.updated" disabled>
      </div>
    </div>
  </div>
</main>
