body {
  min-height: 75rem;
  padding-top: 4.5rem;
}

tbody {
  cursor: pointer;
}

.form-group label {
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 10px;
}

.alert ul {
  margin-bottom: 0;
}

a:hover {
  cursor:pointer;
}
