<main class="container">
  <h1>Sign up</h1>
  <hr>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6">
        <div class="form-group">
          <label for="username"><strong>Username</strong></label>
          <input type="text" id="username" formControlName="username" class="form-control" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password"><strong>Password</strong></label>
          <input type="password" id="password" formControlName="password" class="form-control" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="confirmPassword"><strong>Confirm password</strong></label>
          <input type="password" id="confirmPassword" formControlName="confirmPassword" class="form-control" placeholder="Confirm password">
        </div>
        <div class="form-group">
          <label for="companyId"><strong>Company</strong></label>
          <select id="companyId" formControlName="companyId" class="form-control">
            <option *ngFor="let company of companies" [value]="company.id">{{company.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="firstName"><strong>First name</strong></label>
          <input type="text" id="firstName" formControlName="firstName" class="form-control" placeholder="First name">
        </div>
        <div class="form-group">
          <label for="lastName"><strong>Last name</strong></label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" placeholder="Last name">
        </div>
        <div class="form-group">
          <label for="age"><strong>Age</strong></label>
          <input type="number" id="age" formControlName="age" class="form-control" placeholder="Age">
        </div>
        <div class="form-check">
          <label for="isAdmin" class="form-check-label">
            Admin (for demo purposes only, user should not be able to register as admin by himself)
          </label>
          <input id="isAdmin" formControlName="isAdmin" class="form-check-input" type="checkbox" checked>
        </div>
        <hr>
        <button class="btn btn-dark">Sign up</button>
      </div>
    </div>
  </form>
</main>
